.App {
	flex: 1;
	display: flex;
	margin-top: 55px;
}

.root {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

@font-face {
	font-family: "TuskerGrotesk-2600Semibold";
	src: local("TuskerGrotesk-2600Semibold"),
		url("./fonts/TuskerGrotesk-2600Semibold.ttf") format("truetype");
	font-weight: normal;
}

.tusk {
	font-family: "TuskerGrotesk-2600Semibold";
}
.noe {
	font-family: "Noe";
}

.App-link {
	color: var(--primaryColor);
	font-weight: bold;
	text-decoration: none;
}
.App-link:hover {
	color: var(--darkColor);
	transition: 0.3s;
	text-decoration: none;
}

.pangramb {
	font-family: "Pangram-bold";
}
.pangram {
	font-family: "Pangram";
}
.btn-font {
	font-family: "Fjalla One", sans-serif;
}
.fg {
	font-family: "fg";
}

.MuiTab-textColorPrimary.Mui-selected {
	color: #377771 !important;
}

.btn-primary {
	font-family: "Fjalla One", sans-serif;
	color: #fff;
	background-color: transparent;
	border-color: #967469;
}
.btn-primary:hover {
	color: #fff;
	background-color: #967469;
	border-color: #967469;
}
.btn-primary::focus {
	background-color: yellow !important;
}

.bg {
	background-image: url("../public/mac.jpeg");
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.contact_container {
	background-image: url("../public/332058230_1928957570785315_2152745120923520372_n.jpg");
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#payment-message {
	color: rgb(105, 115, 134);
	font-size: 16px;
	line-height: 20px;
	padding-top: 12px;
	text-align: center;
}

.sign-in_button {
	background: var(--ternaryColor);
	font-family: "Helvetica medium", sans-serif;
	color: #ffffff;
	border-radius: 4px;
	width: 100%;
	border: 0;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	display: block;
	transition: all 0.2s ease;
	/* box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07); */
}

.error_box {
	width: 100%;
	background-color: rgb(236, 72, 72);
	border-radius: 6px;
	margin-bottom: 16px;
	padding: 12px;
	color: #fff;
	animation: box-reveal 0.5s ease-out;
}
.success_box {
	width: 100%;
	background-color: rgb(74, 214, 151);
	border-radius: 6px;
	margin-bottom: 16px;
	padding: 12px;
	color: #fff;
	animation: box-reveal 0.3s ease-in-out;
}

@keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes box-reveal {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		transform: scale(1);
		opacity: 1;
	}
	75% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}
